SensorMonitoringSystemUnitTestProject/Service References/SensorMonitoringSystemServiceReference/SensorMonitoringSystemService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SensorMonitoringSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SensorMonitoringSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompanies">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Companies" nillable="true" type="tns:Companies" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanies" nillable="true" type="tns:ArrayOfCompanies" />
  <xs:complexType name="Companies">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Companies" nillable="true" type="tns:Companies" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActivated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationCode" type="xs:long" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="UsersDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DetailID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersDetails" nillable="true" type="tns:UsersDetails" />
  <xs:complexType name="ArrayOfSensors">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sensors" nillable="true" type="tns:Sensors" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensors" nillable="true" type="tns:ArrayOfSensors" />
  <xs:complexType name="Sensors">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="GraphicalMaxValue" type="xs:int" />
      <xs:element minOccurs="0" name="GraphicalMinValue" type="xs:int" />
      <xs:element minOccurs="0" name="HighestCriticalValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="LowestCriticalValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="SensorAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorID" type="xs:int" />
      <xs:element minOccurs="0" name="SensorUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sensors" nillable="true" type="tns:Sensors" />
  <xs:complexType name="ArrayOfSensorsDatas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorsDatas" nillable="true" type="tns:SensorsDatas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorsDatas" nillable="true" type="tns:ArrayOfSensorsDatas" />
  <xs:complexType name="SensorsDatas">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataID" type="xs:int" />
      <xs:element minOccurs="0" name="ReadValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReadValueTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SensorID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorsDatas" nillable="true" type="tns:SensorsDatas" />
</xs:schema>